@import 'globalVars.scss';

%full_viewport{
    width: 100vw;
    min-height: 100vh;
}

.background-video{
    @extend %full_viewport;
    position: fixed;
    z-index: -1;
    
    &__video{
        @extend %full_viewport;
    }
}