// Responsive breakpoints
$lg-screen : "only screen and ( max-width: 1200px )";
$md-screen : "only screen and ( max-width: 900px )";
$sm-screen : "only screen and ( max-width: 600px )";
$xs-screen : "only screen and ( max-width: 400px )";

// Text size
:root{
    --supra-title : 80px;
    --extra-title: 60px;
    --lg-title : 50px;
    --md-title : 36px;
    --sm-title : 32px;
    --lg-text : 28px;
    --md-text : 24px;
    --sm-text : 20px;
    --tn-text : 18px;
    --xs-text : 16px;
}

@media #{$lg-screen} {
    :root{
        --supra-title : 72px;
        --extra-title: 52px;
    }
}
@media #{$sm-screen} {
    :root{
        --supra-title : 58px;
        --extra-title: 44px;
        --lg-title : 40px;
        --md-title : 30px;
        --sm-title : 26px;
        --lg-text : 24px;
        --md-text : 22px;
        --sm-text : 18px;
        --tn-text : 16px;
        --xs-text : 14px;
    }
}

// Colors

$dark : #0C0C18;
$red :#D31E49;
$gray : #6D6D91;
$light :  #E4D8F2;
$orange: #F27244;